include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		header
			include ../common/nav
		include ../common/1home
		include ../common/2problems
		include ../common/3what
		include ../common/4about
		include ../common/5because
		include ../common/6consult
		include ../common/7result		
		include ../common/8can
		include ../common/9qa
		include ../common/10consult
		include ../common/11author
		include ../common/12help
		include ../common/13remember

		

		include ../common/footer

	// END body