.author {
    &-wrap {
        margin-bottom: 8rem;
        margin-top: -10px;
    }
    max-width: 1173px;
    .title {
        margin-bottom: 43px;
    }
    &__body {
        padding: 99px 52% 48px 77px;
        background: url(../img/bg-author.jpg);
        background-repeat: no-repeat;
        background-position: center center;
    }
    &__name {
        font-size: 26px;
        line-height: 1.15;
        font-weight: 700;
        color: #3A3A63;
        margin-bottom: 24px;
        span {
            display: block;
        }
    }
    &__bio {
        font-weight: 300;
        font-size: 16px;
        line-height: 1.37;
        color: #323232;
    }
    &__list {
        margin: 10px;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.37;
        color: #323232;
    }
    &__item {
        position: relative;
        padding-left: 12px;
        margin-bottom: 12px;
        &:before {
            content: "";
            position: absolute;
            width: 7px;
            height: 7px;
            background: #A3BFF3;
            border-radius: 50%;
            top: 7px;
            left: 0;
        }
    }
    &__link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.50;
        padding: 9px 0 0 0;
        color: #255EF3;
        &:before {
            content: url(../img/icons/wikipedia.svg);
            position: relative;
            top: 6px;
        }
    }
}