.remember {
    max-width: 1146px;
    .title {
        margin-bottom: 20px;
    }
    &__subtitle {
        background: linear-gradient(90deg, #C6EBC2 29%, #76E7ED);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #76E7ED;
    }
    .subtext {
        font-weight: 300;
        font-size: 26px;
        line-height: 31px;
        text-align: center;

        color: #3A3A63;
    }
}
.print {
    display: flex;
    margin-top: 33px;
    margin-bottom: 57px;
    &__item {
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
    &__foto {
        width: 240px;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    &__descr {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 25px 10px 5px;
    }
    &__title {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.37;
        color: #3A3A63;
    }
    &__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 1.57;
        color: #ADADAD;
    }
    &__more {
        margin-top: auto;
        font-size: 16px;
        line-height: 1.5;
        color: #255EF3;
        align-self: flex-end;
        &:hover {
            text-decoration: underline;
        }
    }
}
.tabs-wrap--video {
    margin-top: 24px;
    ul.tabs {
        width: 40%;
        margin-top: 10px;
        margin-left: 40px;
        li {
            padding: 22px 19px 23px;
        }
    }
    .tabs li {
        margin-bottom: 60px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .tab_content {
        // width: 650px;
        height: 330px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top left;
    }
    .tab_container {
        width: 55%;
    }
}
