.contacts {
    position: relative;
    z-index: 1;
    &-wrap {
        position: relative;
        margin-bottom: 2.5rem;
    }
    max-width: 1146px;
    &__body {
        padding: 55px 37px 62px 0;
        width: 51%;
        background-color: #fff;
    }
    &__tel {
        margin-bottom: 13px;
    }
    &__text {
        margin-top: 44px;
        margin-bottom: 31px;
    }
    &__adress {
        font-weight: 300;
        span {
            font-weight: 400;
        }
    }
    &__link {
        color: #1E54DF;
    }

}
#map {
    width: 49%;
    margin-left: 51%;
    height: 746px;
    height: 100%; 
    position: absolute;
    left: 0;
    top: 0;
}