.result {
    font-weight: 400;
    max-width: 1145px;
    &__body {
        display: flex;
    }
    &__left {
        width: 40%;
        background: url(../img/bg-result.png);
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        align-items: flex-end;
        position: relative;
        a {
            font-size: 16px;
            line-height: 19px;
            color: #255EF3;
            padding-left: 29px;
            padding-bottom: 15px;
            &:hover {
                text-decoration: underline;
            }
        }
        &:before {
            content: "";
            z-index: -1;
            position: absolute;
            width: 335px;
            height: 452px;
            left: 0;
            top: 0;
            background: linear-gradient(131.03deg, rgba(198, 235, 194, 0.7) 31.48%, rgba(172, 232, 240, 0.7) 73.35%);
        }
    }
    &__list {
        width: 60%;
    }
    &__name {
        font-size: 18px;
        line-height: 24px;
        /* or 133% */
        color: #A3BFF3;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        width: 50%;
        max-width: 274px;
    }
    &__icon {
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        &--scan {
            background-image: url(../img/scan.svg);
        }
        &--doctor {
            background-image: url(../img/doctor.svg);
        }
        &--heart {
            background-image: url(../img/medical-history2.svg);
        }
        &--list {
            background-image: url(../img/medical-history1.svg);
        }
    }
}