@import "vars";


@media only screen and (max-width: 1720px) {

    //menu
    .menu-toggle {
        background: #F2F2F2;
        display: block;
        width: 44px;
        height: 44px;
        padding: 12px 14px;
        border-radius: 50%;
        position: absolute;
        top: 8px;
        right: 25px;
        cursor: pointer;
        z-index: 4;
        .one, .two, .three {
            width: 100%;
            height: 1px;
            background: #3E8587;
            margin: 4px auto;
            backface-visibility: hidden;
            transition-duration: .3s;
        }
        &.active {
            position: fixed;
            .one,
            .three {
                margin: 9px auto;
            }
            .one {
                transform: rotate(45deg) translate(0,0px);
            }
            .two {
                opacity: 0;
            }
            .three {
                transform: rotate(-45deg) translate(14px,-14px);
            }
        }        
    }
    .main-menu {
        display: none;
        &.active {
            overflow: scroll;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 5px;
            position: fixed;
            width: 100%;
            height: 100%;
            background-color:  #FEF6ED;
            z-index: 3;
            right: 0;
            top: 0;
            ul {
                flex-direction: column;
                align-items: center;
                margin-top: 40px;
                margin-bottom: 8px;
                text-align: center;
                justify-content: center;
                flex-grow: 0;
            } 
        }
    }
    .menu-wrap {
        padding-left: 25px;
        padding-right: 25px;
    }
   
    .main-menu.active {
        display: block;
        text-align: center;
    }
    .main-menu li:hover {
        border-color: transparent;
    }
    //end menu

}
@media only screen and (max-width: 1470px) {
    .what {
        margin-left: 60px;
        .title, .subtext {
            margin: 0 auto 20px;
        }
    }
    .about {
        padding-left: 5%;

    }
    .arrow-next {

    }
    .arrow-prev {

    }
}
@media only screen and (width: 1920px) {
    .arrow-next,
    .arrow-prev {
        left: auto;
        margin-right: auto;
        transform: none;
    }
    .arrow-next {
        right: 29.7%;
    }
    .arrow-prev {
        right: 33.7%;
        right: calc(29.7% + 80px);
    }
}
@media only screen and (width: 1420px) {
    .arrow-next,
    .arrow-prev {
        left: auto;
        margin-right: auto;
        transform: none;
    }
    .arrow-next {
        right: 22.5%;
    }
    .arrow-prev {
        right: 33.7%;
        right: calc(22.5% + 80px);
    }
}
@media only screen and (max-width: 1356px) {
    .what {
        padding: 0 20px;
        background-image: url(../img/bg-what-mob.jpg);
        background-position: top 30% right 13%;
        &__items {
            width: 100%;
            
        }
    }
    .consult {
        padding-left: 0;
        padding-right: 10%;
        &__left p {
            right: 20px;
            bottom: 11px;
        }
        &__title {
            max-width: 316px;
            margin-left: auto;
        }
        &__left {
            padding-right: 2%;
            background-position: top right 200px;
            &--woman {
                background-position: top left;
            }
        }
        &:after {
            height: 69px;
        }
    }
}
@media only screen and (max-width: 1216px) {
    .problems {
        padding: 0 20px;
        &__list {
            margin-top: 60px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__item {
            width: 49%;
            position: relative;
            margin-bottom: 40px;
            padding-left: 41px;
            top: auto;
            left: auto;
            &--darkblue {
                max-width: none;
            }
            .problems__circle {
                top: 0;
                left: 0;
            }
        }
    }
    .footer {
        .wrap {
            padding: 0 20px;
        }
        &__bottom {
            padding: 19px 20px 33px 20px;
        }
    }
}
@media only screen and (max-width: 1185px) {
    
}
@media only screen and (max-width: 1145px) {
    .home {
        background: none;
        padding: 0 5px;
        .title {
            font-size: 48px;
            line-height: 58px;
            letter-spacing: 0.02em;
            font-size: 48px;
            max-width: 305px;
            margin: 0 auto 45px;
            letter-spacing: 0.02em;

        }
        .subtext {
            margin: 0 auto;
            max-width: 642px;
        }
        &__body {
            flex-direction: column;
        }
        &__part {
            width: 100%;
        }
        &__pic {
            width: 640px;
            margin: 0 auto;
            height: 683px;
            background: url(../img/bg-home.jpg);
            margin-top: -160px;
            padding-top: 233px;
            background-position: top center;
            background-repeat: no-repeat;
            background-size: 100%;
            z-index: -1;
        }
        &__item {
            &:nth-child(1) {
                top: 193px;
                left: 56px;
            }
            &:nth-child(2) {
                top: 425px;
                left: 56px;
            }
            &:nth-child(3) {
                top: 185px;
                left: 474px;
            }
            &:nth-child(4) {
                top: 595px;
                left: 340px;
            }
        }
        
        
    }
    .because {
        &-wrap {
            background: none;
        }
        &__top {
            flex-wrap: wrap;
            margin-top: 0;
            padding-top: 0;
            margin-left: 10px;
            margin-right: 10px;
            margin: 0 auto;
            max-width: 90%;
            background: none;
            .because__item:nth-child(1),
            .because__item:nth-child(2),
            .because__item:nth-child(3),
            .because__item:nth-child(4) {
                margin-top: 0;
                margin-bottom: 35px;
            }
        }
        &__item {
            max-width: none;
            width: 46%;
            margin-bottom: 30px;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                width: 11px;
                height: 11px;
                border-radius: 50%;
                background: #DE9D5D;
                left: -26px;
                top: 7px;
            }
            &:before {
                content: "";
                position: absolute;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: rgba(222, 157, 93, 0.3);
                left: -33px;
                top: 0;
            }

        }
        &__text {
            color: #323232;
            margin-bottom: 45px;
        }
        &__img {
            display: block;
            width: 100%;
            img {
                width: 100%;
            }
        }
        &__bottom {
            background: none;
            width: 90%;
            margin: 0 auto;
            ul {
                flex-wrap: wrap;
            }
            
            .because__item {
                color: #3A3A63;
                text-align: left;
                &:after {
                    background: #C6EBC2;
                    left: -26px;
                    top: 7px;
                }
                &:before {
                    background: rgba(198, 235, 194, 0.4);
                    left: -33px;
                    top: 0;
                }
            }
            &:after {
                content: none;
            }
            .because__item:nth-child(1),
            .because__item:nth-child(2),
            .because__item:nth-child(3),
            .because__item:nth-child(4) {
                margin-top: 0;
                margin-bottom: 35px;
            }
        }
    }

    .result {
        &__item {
            width: 48%;
        }
        &__left {
            width: 35%;
            margin-right: 6%;
            background-size: 500px;
            &:before {
                width: 94%;
                height: 471px;
            }
        }
    }
    .can {
        &__item {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
                padding: 20px;
            }
        }
    }


}
@media only screen and (max-width: 1000px) {
 
    .what {
        margin-right: 0;
        margin-left: 0;
    }
    .about {
        .subtext {
            font-size: 14px;
            line-height: 20px;
            margin-right: 10px;
        }
        &__top {
            background-size: 80%;
        }
        &__left {
            padding-top: 34px;
        }
        &__right {
            width: 77%;
            .about__text {
                margin: 259px 19px 0;
                text-align: left;
            }
        }
        &__bottom {
            .about__right {
                padding-top: 48px;
            }
            .about__text {
                left: 6%;
            }
        }
        &__img {
            margin-top: -23px;
        }
    }
    .slick-arrow {
        bottom: auto;
        top: -49px;
        left: auto;
        margin-right: 0;
        transform: none;
    }
    .arrow-prev {
        right: 80px;
    }
    .arrow-next {
        right: 0;
    }
    .help {
        &__item {
            &-wrap {
                max-width: none;
            }
        }
    }
    .lic {
        flex-direction: column;
        &__title {
            width: 100%;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
        }
        &__body {
            width: 100%;
        }
    }
    .print {
        flex-direction: column;
    }
    .diag__lists {
        flex-direction: column;
    }
}
@media only screen and (max-width: 960px) {
    .consult {
        padding-right: 20px;
        &__left {
            padding-left: 28%;
        }
    }
}
@media only screen and (max-width: 780px) {
    .what {
        &__items {
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__item {
            width: 49%;
            margin-right: 0;
            margin-bottom: 21px;
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                width: 49%;
            }
        }
    }
    .because {
        &-wrap {
            margin-bottom: 1.5rem;
        }
    }
    .consult {
        flex-direction: column-reverse;
        padding-left: 10px;
        padding-right: 10px;
        &__left {
            width: 100%;
            padding-left: 10px;
            padding-top: 36%;
            background-position: bottom center;
            background-size: 45%;
            padding-bottom: 0;
            top: 0;
            margin-left: -10px;
            &--woman {
                background-position: top center;
                .consult__title {
                    top: -523px;
                }
            }
            p {
                position: static;
                font-size: 14px;
                line-height: 20px;
                color: #323232;
                margin-bottom: 0;
            }
        }
        &__title {
            position: absolute;
            top: -570px;
            text-align: center;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, 0);
        }
        &__form {
            max-width: 450px;
            margin: 100px auto 0;
            padding-top: 63px;
            padding-bottom: 16px;
            &--woman {
                padding-top: 0;
            }
        }
        .form-line {
            margin-top:  20px;
            text-align: center;
            input, textarea {
                padding: 10px 19px 9px;
            }
            textarea {
                min-height: 110px;
            }
            p  {
                text-align: center;
            }
        }
        &:after {
            content: none;
        }
    }
    .result {
        padding-left: 0;
        &__body {
            position: relative;
        }
        
        .title {
            margin-left: 0;
        }
        &__left {
            position: absolute;
            top: 64px;
            left: 0;
            width: 100%;
            height: 335px;
            margin-right: 0;
            &:before {
                width: 100%;
                height: 335px;
                top: 50px;
            }
        }
        &__list {
            width: 100%;
        }
        &__name {
            margin-bottom: 410px;
            padding: 0 10px;
            text-align: center;
        }
        &__items {
            padding: 0 10px;
        }
        &__more {
            max-width: 150px;
        }
    }
    .author {
        position: relative;
        overflow: hidden;
        .title {
            margin-bottom: 27px;
        }
        &__body {
            padding: 10px 10px 18px;
            background: none;
        }
        &__name {
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 11px;
        }
        &__bio {
            font-size: 14px;
            line-height: 20px;
            padding-right: 10px;
        }
        &__list {
            font-size: 14px;
            line-height: 20px;
            margin-top: 21px;
            margin-left: 6px;
        }
        &__link {
            position: absolute;
            bottom: 21px;
            font-size: 14px;
            line-height: 24px;
        }
        &__img {
            display: block;
            width: 150%;
            margin-left: -35%;
            img {
                width: 100%;
            }
        }
        
    }

    
}
@media only screen and (max-width: 680px) {
    section {
        margin-bottom: 1rem;
    }
    .btn {
        width: 300px;
    }
    .title {
        font-size: 30px;
        line-height: 36px;
    }
    .subtext {
        font-size: 14px;
        line-height: 20px;
    }
    .logo__icon {
        width: 99px;
    }
    .nav {
        padding: 0 10px 30px;
    }
    .menu-toggle {
        width: 33px;
        height: 33px;
        padding: 6px 10px;
        top: 0px;
        right: 10px;
    }
    .home {
        min-height: 608px;
        &-wrap {
            margin-bottom: 3.7rem;
        }
        &__pic {
            width: 316px;
            height: 428px;
            background-position: bottom center;
            background-image: url(../img/bg-home-mob.jpg);
        }
        .title {
            margin: 40px auto 12px;
        }
        .subtext {
            font-size: 14px;
            line-height: 20px;
            max-width: 417px;
            padding: 0 4px;
        }
        &__item {
            font-size: 14px;
            line-height: 17px;
            &:nth-child(1) {
                max-width: 179px;
                top: auto;
                bottom: 182px;
                left: 16px;
            }
            &:nth-child(2) {
                max-width: 143px;
                top: auto;
                bottom: 10px;
                left: 29px;
            }
            &:nth-child(3) {
                top: auto;
                bottom: -15px;
                left: 197px;
            }
            &:nth-child(4) {
                display: none;
            }
        }
    }
    .problems {
        padding: 0 10px;
        background-position: bottom 35% left 37%;
        background-size: 178%;
        .title {
            margin-bottom: 25px;
        }
        &__subtitle {
            margin-left: 0;

        }
        .subtext {
            text-align: left;
            padding-right: 26px;
        }
        &__name {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 9px;
        }
        &__text {
            font-size: 14px;
            line-height: 25px;
            margin-bottom: 5px;
        }
        &__list {
            max-width: 320px;
            margin: 0 auto;
            flex-direction: column;
            margin-top: 37px;
        }
        &__item {
            width: 100%;
            margin-bottom: 18px;
            &:nth-child(2){
                margin-bottom: 60%;
            }
            &--red .problems__circle,
            &--blue .problems__circle {
                transform: scale(0.7);
            }
        }
        &__circle {
            transform: scale(0.7);
        }
    }
    .what {
        background-position: top 16% right 14%;
        padding: 0;
        &__body {
            max-width: 210px;
            font-size: 22px;
            line-height: 26px;
            margin: 125px 10px 34px;
        }
        .subtext {
            text-align: left;
            padding: 0 19px 0 10px;
        }
        &__items {
            padding: 0 12px;
        }
        &__item {
            display: flex;
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                width: 100%;
            }
            &:nth-child(2) {
                .what__icon {
                    width: 98px;;
                }
            }
            &:nth-child(4) {
                .what__icon {
                    width: 59px;;
                }
            }
        }
        &__icon {
            margin-right: 18px;
            width: 48px;
            height: 35px;
            img {
                width: 100%;
            };
        }
    }
    .about {
        &-wrap {
            padding-bottom: 0;
        }
        padding-left: 4%;
        .title {
            text-align: center;
            margin-bottom: 28px;
        }
        .subtext {
            margin-bottom: 21px;
        }
        &__top {
            padding-bottom: 71px;
            flex-direction: column;
            background-position: bottom -30px right 1%;
            background-size: 652px;
        }
        &__left {
            padding-top: 52px;
        }
        &__right {
            width: 100%;
            .about__text {
                margin: 123px 53px 64px 5px;
            }
        }
        &__bottom {
            margin-top: 0;
            flex-direction: column-reverse;
            .about__text {
                display: none;
            }
            .about__right {
                padding-top: 0;
                padding-left: 0;
            }
            .subtext {
                margin-bottom: 10px;
            }
        }
        &__img {
            margin-top: 16px;
            margin-left: -15px;
        }
    }
    .because {
        &-wrap {
            padding-top: 52px;
        }
        &__title {
            font-size: 30px;
            line-height: 53px;
        }
        &__subtitle {
            font-size: 16px;
            line-height: 22px;
            padding: 0 18px;
            margin-bottom: 0;
            span {
                display: inline;
            }
        }
        &__item {
            font-size: 14px;
            line-height: 20px;
            width: 100%;
            padding-left: 40px;
            padding-right: 10px; 
            &:after {
                left: 12px;
            }
            &:before {
                left: 5px;
            }
        }
        &__top {
            width: 100%;
            max-width: 100%;
        }
        &__text {
            font-size: 18px;
            line-height: 22px;
        }
        &__bottom {
            width: 100%;
            .because__item {
                &:after {
                    left: 12px;
                }
                &:before {
                    left: 5px;
                }                
            }

        
        }
    }
    .can {
        &__item {
            width: 49%;
            display: flex;
            justify-content: space-between;
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
                border: none;
                max-width: none;
                padding: 10px;
            }
        }
        &__text {
            width: 80%;
            width: calc(100% - 66px);
        }
    }
    .help {
        &__name {
            font-size: 16px;
            line-height: 22px;
            color: #3A3A63;
        }
        &__text {
            font-size: 14px;
            line-height: 20px;
            color: #323232;

        }
        &__position {
            font-size: 14px;
            line-height: 20px;
            color: #ADADAD;

        }
    }




    .footer {
       .wrap {
           flex-direction: column;
       }
    }
   
    
}

@media only screen and (max-width: 480px) {
    .contacts-menu {
        flex-direction: column;
    }
    .because {
        &__top {
            background: url(../img/because-top-mob.svg);
            background-repeat: no-repeat;
            background-position: top -70px center;
            .because__item {
                padding-left: 0;
                &:nth-child(1) {
                    max-width: 211px;
                    margin-left: auto;
                    margin-bottom: 15px;
                }
                &:nth-child(2) {
                    max-width: 271px;
                    margin-left: auto;
                    margin-bottom: 29px;
                    padding-right: 15%;
                }
                &:nth-child(3) {
                    max-width: 236px;
                    padding-right: 5px;
                    margin-left: auto;
                    margin-bottom: 49px;
                }
                &:nth-child(4) {
                    max-width: 255px;
                    text-align: right;
                    padding-right: 18px;
                    margin-left: auto;
                    margin-bottom: 0;
                }

            }
        }
        &__title{
            margin-bottom: 36px;
        }
        &__item {
            padding-left: 54px;
            &:before, 
            &:after {
                content: none;
            }
        }
        &__img {
            display: block;
            width: 100%;
            margin-top: -20px;
        }
        &__bottom {
            padding: 29px 5px 10px;
            .because__item {
                font-size: 16px;
                line-height: 22px;
                padding-right: 23px;
                &:before,
                &:after {
                    content: "";
                }
                &:nth-child(1), 
                &:nth-child(2),
                &:nth-child(3) {
                    margin-bottom: 23px;
                }
                 &:nth-child(4) {
                    margin-bottom: 8px;
                }
            }
            ul {
                padding-bottom: 0;
            }
        }
        &__text {
            margin-bottom: 33px;
            padding: 0 18px;
        }
    }
    .btn--big {
        padding: 20px;
    }
    .consult {
        &__left {
            padding-top: 79%;
            background-position: bottom right 28px;
            background-size: 100%;
            &--woman {
                background-position: top center;
                background-size: 200px;
            }
        }
        &-wrap {
            margin-bottom: 3.4rem;
        }
    }
    .result {
        &-wrap {
            margin-bottom: 1.8rem;
        }
        &__icon {
            width: 40px;
            height: 40px;
        }
        &__item {
            width: 100%;
            max-width: 100%;
            display: flex;
            justify-content: space-between;
        }
        &__text {
            width: 85%;
            width: calc(100% - 50px);
            font-size: 14px;
            line-height: 20px;
        }
        .title {
            margin-bottom: 8px;
        }
        &__left {
            top: 81px;
            background-size: 315px;
            background-position: top 20px right -60px;
            height: 250px;
            &:before {
                height: 180px;
            }
        }
        &__more {
            padding-left: 10px;
        }
        &__name {
            margin-bottom: 251px;
        }
    }
    .can {
        &__item {
            width: 100%;
            
            
        }
        .title {
            margin-bottom: 9px;
        }
        .subtitle {
            padding: 0 20px;
            margin-bottom: 20px;
        }
        &__text {
            width: 80%;
            width: calc(100% - 66px);
            font-size: 14px;
            line-height: 20px;
        }
        &-wrap {
            margin-bottom: 2rem;
        }
    }
    .tab_container {
        width: 100%;
        padding: 0 10px;
    }
    .tab_drawer_heading {
        font-size: 14px;
        line-height: 20px;
        padding: 0 26px 0 13px;
        
        margin-bottom: 35px;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            right: 0;
            top: 30%;
            transform: translate(0, -50%);
            width: 13px;
            height: 13px;
            border: 1px solid #255EF3;
            border-top: none;
            border-left: none;
            transform: rotate(-45deg);
        }
        &.d_active {
            margin-bottom: 7px;
            &:after {
                transform: rotate(45deg);
            }
        }
    }
    .tab_content {
        padding: 0 12px 20px;
        font-size: 13px;
        line-height: 19px;
    }
    .qa {
        .title {
            margin-bottom: 46px;
        }
        &-wrap {
            margin-bottom: 1rem;
        }
    }
    
}

@media only screen and (max-width: 350px) {
    .about {
        &__top {
            background-position-x: bottom -6%;
        }
    }
}