
@import "tools/_normalize.scss";
@import "vars";
@import "fonts";
@import "libs";
@import "tools/forms";
::placeholder {
	color: #ADADAD;
}

::selection {
	background-color: $accent;
	color: #fff;
}
* {
	box-sizing: border-box;
}
body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.5;
	// letter-spacing: 1px;
    font-family: "Stolzl", Georgia, 'Times New Roman', Times, serif;
	font-weight: 400;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		font-family: "Stolzl";
		border: #666 1px solid;
		outline: none;
		background-color: #fff; 
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}
.wrap {
	max-width: 1720px;
	margin: 0 auto;
}
section {
	 margin-bottom: 6rem;
}
a {
	text-decoration: none;
	color: $text;
	-webkit-transition: all.6s ease; 
	-moz-transition: all.6s ease;
	-ms-transition: all.6s ease; 
	-o-transition: all.6s ease; 
	transition: all.6s ease;
	outline:none !important;
	border: none;
	&:hover {
		outline:none;
	};
	&:active {
		outline:none;
		-webkit-transition: all.1s ease; 
		-moz-transition: all.1s ease;
		-ms-transition: all.1s ease; 
		-o-transition: all.1s ease; 
		transition: all.1s ease;
	};
}
ul,li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.primary-text {
	// font-family: $second-font;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 4px;
}
.title {
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	color: #7B7BB3;
	margin-bottom: 50px;
}
.subtitle {
	color: #000;
	font-size: 16px;
	font-weight: 500;
	max-width: 670px;
	margin: 0 auto;
	padding-top: 22px;

}
.subtext {

	font-size: 18px;
	line-height: 24px;
	line-height: 1.33;
	/* or 133% */
	font-weight: 400;
	color: #323232;
}
.btn {
	min-width: 270px;
	position: relative;
	display: inline-block;
	font-size: 16px;
	line-height: 19px;
	color: #fff;
	padding: 20px;
	transition: 0.5s;
	cursor: pointer;
	background: #255EF3;
	border: none;
	text-align: center;
	background: linear-gradient(66.79deg, #255EF3 21.93%, #AAD3F2 117.25%);
	border-radius: 60px;
	&:hover {
		background: linear-gradient(66.79deg, #7FE2E1 21.93%, #B9EAC9 117.25%);
	}

}


.display-none {
	display: none;
}

@import "sections/nav";
@import "sections/1home";
@import "sections/2problems";
@import "sections/3what";
@import "sections/4about";
@import "sections/5because";
@import "sections/6consult";
@import "sections/7result";
@import "sections/8can";
@import "sections/9qa";
@import "sections/11author";
@import "sections/12help";
@import "sections/13remember";


@import "sections/footer"; 

@import "media"; // Always at the end
