section.consult-wrap
    .wrap.consult
        .consult__left.consult__left--woman
            .title.consult__title Спросить специалиста
            p Анна Кондратьева, специалист АНО ЦБМ
        .consult__form.consult__form--woman
            form(action="#")
                .form-line
                    input(type="text" name="name" placeholder="Имя" required)
                .form-line
                    input(type="text" name="telemeil" placeholder="Телефон или почта" required)
                .form-line 
                    textarea(placeholder="Комментарий" name="coment")
                .form-line     
                    p Нажимая на кнопку “Получить консультацию”, вы соглашаетесь на обработку персональных данных
                .form-line  
                    .btn Получить консультацию

