section.author-wrap
    .wrap.author
        .title.text-center Автор метода
        .author__body
            .author__name 
                span Скальный 
                | Анатолий Викторович
            .author__bio Советский и российский учёный, доктор медицинских наук, профессор, основатель научного направления «Биоэлементология» и научной школы медицинской элементологии
            ul.author__list
                li.author__item Вице-президент Института микроэлементов ЮНЕСКО
                li.author__item Заведующий кафедрой «Медицинской элементологии РУДН»
                li.author__item Основатель АНО «Центр Биотической Медицины», мед. лицензия №ЛО-77-01-007851 
                li.author__item Руководитель лаборатории молекулярной диетологии Сеченовского университета 
            a(href="#").author__link Читать на Wikipedia