section
    .help
        .title.text-center Метод помог
        .help__body
            .help__slider
                .help__item-dist
                    .help__item-wrap
                        .help__item 
                            .help__review
                                .help__foto(style="background-image: url(img/help1.jpg)")
                                .help__text «Уникальная программа доктора А.В. Скального – залог сохранения здоровья и достижения высших результатов в спорте» 
                            .help__name Шамиль Тарпищев
                            .help__position 
                                span Президент Федерации тенниса России, 
                                | член Совета по физкультуре при Президенте РФ
                .help__item-dist
                    .help__item-wrap
                        .help__item 
                            .help__review
                                .help__foto(style="background-image: url(img/help1.jpg)")
                                .help__text «Уникальная программа доктора А.В. Скального – залог сохранения здоровья и достижения высших результатов в спорте» 
                            .help__name Шамиль Тарпищев
                            .help__position 
                                span Президент Федерации тенниса России, 
                                | член Совета по физкультуре при Президенте РФ
                .help__item-dist
                    .help__item-wrap
                        .help__item 
                            .help__review
                                .help__foto(style="background-image: url(img/help1.jpg)")
                                .help__text «Уникальная программа доктора А.В. Скального – залог сохранения здоровья и достижения высших результатов в спорте» 
                            .help__name Шамиль Тарпищев
                            .help__position 
                                span Президент Федерации тенниса России, 
                                | член Совета по физкультуре при Президенте РФ
                .help__item-dist
                    .help__item-wrap
                        .help__item 
                            .help__review
                                .help__foto(style="background-image: url(img/help1.jpg)")
                                .help__text «Уникальная программа доктора А.В. Скального – залог сохранения здоровья и достижения высших результатов в спорте» 
                            .help__name Шамиль Тарпищев
                            .help__position 
                                span Президент Федерации тенниса России, 
                                | член Совета по физкультуре при Президенте РФ
section.lic-wrap
    .wrap.lic
        .title.lic__title Лицензии на осуществление медицинской деятельности 
        .lic__body
            .lic__slider
                .lic__item-wrap
                    .lic__item 
                        .lic__img 
                            img(src="img/lic/lic1.jpg", alt="sert")
                        .lic__text Лицензия 1стр.
                .lic__item-wrap
                    .lic__item 
                        .lic__img 
                            img(src="img/lic/lic2.jpg", alt="sert")
                        .lic__text Лицензия 2стр.
                .lic__item-wrap
                    .lic__item 
                        .lic__img 
                            img(src="img/lic/lic3.jpg", alt="sert")
                        .lic__text Приложение 1
                .lic__item-wrap
                    .lic__item 
                        .lic__img 
                            img(src="img/lic/lic1.jpg", alt="sert")
                        .lic__text Приложение 2
                .lic__item-wrap
                    .lic__item 
                        .lic__img 
                            img(src="img/lic/lic1.jpg", alt="sert")
                        .lic__text Приложение 3