section.diag-wrap
    .wrap.diag
        .title.text-center 
            span.diag__title Пройдите
            | диагностику вашего организма 
        .subtext Конверт здоровья – надежная проверка вашего организма и точные рекомендации врача-специалиста 
        .diag__body 
            .diag__left 
                .diag__price 
                    | Цена: 
                    span 5400 руб. 
            .diag__right
                ul.diag__items
                    li.diag__item 
                        .diag__icon.diag__icon--clipboard
                        .diag__text Подробная инфографика по содержанию элементов в Вашем организме
                    li.diag__item 
                        .diag__icon.diag__icon--caution
                        .diag__text Подробная информация по элементам с критическими значениями
                    li.diag__item 
                        .diag__icon.diag__icon--restaurant
                        .diag__text Индивидуальные рекомендации по питанию
                    li.diag__item 
                        .diag__icon.diag__icon--report
                        .diag__text Заключение врача
                .btn.btn--big Заказать диагностику
        .title.text-center 
            | После 
            span.diag__title оформления 
            | и оплаты заказа 
        .diag__body
            ul.diag__lists
                li.diag__list 
                    .diag__icon.diag__icon--email
                    .diag__text Соберите образец волос
                li.diag__list 
                    .diag__icon.diag__icon--gps
                    .diag__text Отправьте образец волос по адресу нашего офиса или ожидайте курьера 
                li.diag__list 
                    .diag__icon.diag__icon--health
                    .diag__text В течение 10 дней получите результат анализа и заключение специалиста с рекомендациями по питанию.