section.contacts-wrap
    #map
    .wrap.contacts
        .contacts__body
            .title Контакты
            ul.contacts__tel
                li 
                    a(href="tel:79998192969") +7 (999) 819-2969 (есть WhatsApp) 
                li 
                    a(href="tel:79150787622") +7 (915) 078-7622 (есть WhatsApp) 
                li
                    a(href="tel:74956240129") +7 (495) 624-0129 (офис на Покровке)
            .contacts__adress 
                span Электронная почта: 
                a(href="mailto:info@bioelement.su") info@bioelement.su
            .contacts__text  
                | Если Вы хотите принести образец самостоятельно в АНО ЦБМ, то предварительно оформите и оплатите заказ на 
                a.contacts__link(href="#") нашем сайте
            .contacts__adress 
                span Отправить почтой: 
                | 8888888 г. Москва, ул.Покровка д.33, оф.14
            .contacts__adress 
                span Принести самостоятельно: 
                | АНО ЦБМ, г. Москва, ул. Земляной вал, д. 46