section.home-wrap
	.wrap.home
		.home__body
			.home__part
				.title 
					.home__title Конверт 
					span.home__subtitle здоровья
				.subtext Удобный и эффективный способ управления здоровьем и качеством жизни при помощи анализа элементного статуса организма
			ul.home__pic
				li.home__item 
					.home__text Естественная красота и здоровье
					.home__circle.home__circle--red
				li.home__item 
					.home__text Рост показателей в спорте
					.home__circle.home__circle--darkblue
				li.home__item 
					.home__text Улучшение самочувствия
					.home__circle.home__circle--blue
				li.home__item 
					.home__text Предотвращение возникновения и развития заболеваний
					.home__circle.home__circle--lightred
		.home__btn
			a(href="#what").btn.move-a Как это работает?
				
