section
    .wrap.problems
        .title.text-center 
            .problems__title Анализ поможет
            .problems__title
                span.problems__subtitle решить 
                | проблемы
        .subtext.text-center Дисбаланс микроэлементов, а также повышенное содержание токсичных веществ в теле могут привести к таким негативным явлениям как:
        .problems__body 
            ul.problems__list
                li.problems__item.problems__item--green 
                    .problems__name Ухудшение самочувствия
                    ul
                        li.problems__text Хроническое переутомление
                        li.problems__text Нарушения памяти и внимания
                        li.problems__text Депрессия
                        li.problems__text Перепады настроения
                    .problems__circle

                li.problems__item.problems__item--darkblue
                    .problems__name Частые болезни
                    ul
                        li.problems__text Проблемы с иммунитетом
                        li.problems__text Развитие хронических заболеваний
                        li.problems__text Аллергия
                        li.problems__text Нарушения желудочно-кишечного тракта
                    .problems__circle
                li.problems__item.problems__item--red
                    .problems__name Проблемы с внешностью
                    ul
                        li.problems__text Ломкие и секущиеся волосы
                        li.problems__text Перхоть
                        li.problems__text Сухая или жирная кожа
                        li.problems__text Выпадение и плохой рост волос
                    .problems__circle
                li.problems__item.problems__item--blue
                    .problems__name Плохая физическая форма
                    ul
                        li.problems__text Проблемы с весом
                        li.problems__text Плохое самочувствие
                        li.problems__text Ухудшение показателей при занятии спортом
                        li.problems__text Снижение либидо
                    .problems__circle
            .problems__btn