section
    .wrap
        .what
            .title.text-center 
                .what__title Что такое конверт здоровья?
            .subtext.text-center Конверт здоровья – это точный анализ элементного статуса вашего организма и заключение врача с индивидуальными рекомендациями по питанию
            .what__body 
                span Сдать образец на исследование быстро и удобно
            ul.what__items
                li.what__item 
                    .what__icon 
                        img(src="img/icons/scissors.svg", alt="scissors")
                    .what__text Вам потребуется небольшая прядь волос
                li.what__item 
                    .what__icon 
                        img(src="img/icons/email1.svg", alt="email")
                    .what__text Положите ее в обычный бумажный конверт и отправьте по почте или передайте нашему курьеру
                li.what__item 
                    .what__icon 
                        img(src="img/icons/placeholder.svg", alt="placeholder")
                    .what__text Отправить можно из любой точки России
                li.what__item 
                    .what__icon 
                        img(src="img/icons/email2.svg", alt="email")
                    .what__text Результаты анализа получите по электнной почте