section.about-wrap#about
    .wrap.about
        .about__top
            .about__left
                .title О методе
                .subtext Организм человека состоит из определённого набора элементов, концентрация и соотношение которых влияют на ваше настроение, самочувствие и физическое состояние. 
                .subtext Часто нарушение баланса –макро и микроэлементов является первопричиной многих серьезных заболеваний. 
                .subtext Небольшой пряди волос достаточно, чтобы масс-спектрометр выявил все нарушения в элементом составе организма.
            .about__right 
                .about__text Волосы накапливают и долгое время сохраняют информацию о различных веществах
        .about__bottom
            .about__img
                img(src="img/spoon.png", alt="spoon")
            .about__right
                .subtext Небольшая прядь волос (или ногти) – это всё, что нужно для проведения анализа.
                .subtext 
                    | Если волосы короткие – достаточно объема одной 
                    span чайной ложки.
            .about__text Объем чайной ложки волос или ногтей