section.because-wrap
    .wrap.because
        .because__subtitle 
            span Анализ элементного статуса организма 
            | помогает управлять здоровьем, оставаться в хорошем настроении и физической форме,
        .because__title 
            span Потому что:
        ul.because__top
            li.because__item 
                | Диагностика 
                span выявляет первопричину многих заболеваний 
                | на ранних стадиях развития, чтобы эффективно провести их профилактику и лечение Образцы собираются неинвазивно
            li.because__item 
                | Врачи-специалисты дают индивидуальные 
                span рекомендации по питанию 
                | простые в использовании, основанные на комплексном анализе вашего организма
            li.because__item 
                | Получить результат анализа быстро и удобно: собирается неинвазивно (без нарушения естественных покровов тела), просто 
                span отправить в конверте по почте или курьером 
            li.because__item 
                | Запатентованный метод А.В. Скального – 
                span учёный с мировым именем, 
                | один из основателей элементологии, как научной отрасли
        .because__img 
            img(src="img/bg-because.jpg", alt="because")
        .because__bottom 
            .because__text Пройдите диагностику элементного статуса своего организма
            ul
                li.because__item Закажите диагностику своего организма 
                li.because__item Получите подтверждение заказа и инструкцию по электронной почте
                li.because__item Отправьте образец для анализа в наш офис 
                li.because__item Вы получаете результат в формате pdf файла на вашу электронную почту
            .because__btn 
                a(href="#contacts").move-a.btn.btn--big Заказать конверт
