section.result-wrap#result
    .wrap.result
        .title.text-center Результаты диагностики
        .result__body 
            .result__left 
                a(href="#").result__more Посмотреть пример →
            .result__list
                .result__name После анализа образца в лаборатории Вы получаете подробный отчёт, который включает в себя:
                ul.result__items
                    li.result__item 
                        .result__icon.result__icon--scan
                        .result__text Информацию об отклонениях от нормы содержания химических элементов в вашем организме в виде понятной инфографики
                    li.result__item 
                        .result__icon.result__icon--doctor
                        .result__text Заключение врача в случае серьезных отклонений показателей содержания элементов от нормы
                    li.result__item 
                        .result__icon.result__icon--heart
                        .result__text Профессиональные индивидуальные рекомендации по питанию для решения вашей проблемы
                    li.result__item 
                        .result__icon.result__icon--list
                        .result__text Информацию о содержании микроэлементов в вашем организме для контроля показателей в будущем

        