section
    .wrap.can
        .title.text-center
            span.can__title Вы сможете:
        .subtitle Следуя рекомендациям наших специалистов,
        .can__items 
            .can__item 
                .can__icon.can__icon--capsules
                .can__text Предотвратить возникновение и развитие хронических заболеваний  
            .can__item 
                .can__icon.can__icon--food
                .can__text Стабилизировать вес с помощью индивидуальной программы питания 
            .can__item 
                .can__icon.can__icon--gym
                .can__text Улучшить показатели при занятии спортом  
            .can__item 
                .can__icon.can__icon--dumbbell
                .can__text Увеличить продолжительность жизни, её качество, приобрести хорошее самочувствие и бодрость
            .can__item 
                .can__icon.can__icon--girl
                .can__text Сохранить и приумножить естественную красоту кожи и волос 
            .can__item 
                .can__icon.can__icon--brain
                .can__text Избавиться от стресса, переутомляемости, проблем с памятью и вниманием, перепадов настроения.