section.qa-wrap#qa
    .wrap.qa
        .title.text-center Вопросы-ответы
        .tabs-wrap
            ul.tabs
                li.active(rel='tab1') Почему именно волосы?
                li(rel='tab2') Почему формируется дисбаланс химических элементов в организме человека?
                li(rel='tab3') Как сдать анализ?
                li(rel='tab4') Что делать если волос на голове нет?
                li(rel='tab5') Влияет ли окрашивание волос на результаты анализа? Сколько времени должно пройти с момента последнего окрашивания волос?
                li(rel='tab6') Какой временной промежуток охватывает картина элементного статуса по результатам анализа?
            .tab_container
                h3.d_active.tab_drawer_heading(rel='tab1') Почему именно волосы?
                #tab1.tab_content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac metus augue.
                h3.tab_drawer_heading(rel='tab2') Почему формируется дисбаланс химических элементов в организме человека?
                #tab2.tab_content Использование волос обосновано с позиции биомедицины. В связи с тем, что металлы необратимо связываются с матрицей волоса по мере его роста, посредством спектрального анализа волос можно оценить “историю” изменения элементного статуса организма в течение достаточно длительного времени. В случае же с анализом крови, к примеру, есть возможность установить характер изменений минерального обмена в организме только на настоящий момент. Также это удобно. Забор образцов осуществляется неинвазивно (без проникновения через защитные барьеры организма), его можно выполнить самостоятельно в соответствии с нашими рекомендациями. Небольшая прядь волос удобна в хранении и транспортировке, и её можно отправить даже в обычном конверте по почте
                h3.tab_drawer_heading(rel='tab3') Как сдать анализ?
                #tab3.tab_content Tab 3 content Nulla eleifend felis vitae velit tristique imperdiet. Etiam nec imperdiet elit. Pellentesque sem lorem, scelerisque sed facilisis sed, vestibulum sit amet eros.
                h3.tab_drawer_heading(rel='tab4') Что делать если волос на голове нет? 
                #tab4.tab_content Tab 4 content Nulla eleifend felis vitae velit tristique imperdiet. Etiam nec imperdiet elit. Pellentesque sem lorem, scelerisque sed facilisis sed, vestibulum sit amet eros.ultrices lacus sit amet lorem viverra consequat. Vivamus lacinia interdum sapien non faucibus. Maecenas bibendum, lectus at ultrices viverra, elit magna egestas magna, a adipiscing mauris justo nec eros.
                h3.tab_drawer_heading(rel='tab5') Влияет ли окрашивание волос на результаты анализа? Сколько времени должно пройти с момента последнего окрашивания волос?
                #tab5.tab_content Tab 5 content Nulla eleifend felis vitae velit ts.
                h3.tab_drawer_heading(rel='tab6') Какой временной промежуток охватывает картина элементного статуса по результатам анализа?
                #tab6.tab_content Tab 6