footer.footer
    .footer__body
        .wrap
            .logo
                .logo__icon
                    img(src="img/logo.png", alt="logo")
            .contacts-menu
                a(href="mailto:info@bioelement.su") info@bioelement.su
                a.footer__tel(href="tel:+79998192969") +7 (999) 819-2969
    .wrap.footer__bottom
        a(href="#") Политика конфиденциальности
        .footer__development 
            | Сайт разработан —
            a(href="#") insaim                

script(src="js/scripts.min.js")
script(src="js/common.js")
