footer.footer
    .wrap
        .footer__body
            .logo
                .logo__icon
                    img(src="img/logo.png", alt="logo")
            ul.footer__menu
                li.active.order1
                    a(href="index.html") Home
                li
                    a(href="#") Locabulary
                li
                    a(href="#" data-menuAnchor="#contactus") Contact us
            
            
        .footer__bottom
            a(href="#") Terms and conditions
            .footer__development 
                | Design and development 
                a(href="#") — insaim
            a(href="") Refound Policy
            a.copy
                img(src="img/copy.png", alt="perfect english")

                    

script(src="js/scripts.min.js")
script(src="js/common.js")
