
nav.wrap
	.nav
		
		.logo
			a(href="index.html").logo__icon
				img(src="img/logo.png", alt="logo")
		.menu-wrap
			.menu-toggle 
				.one
				.two
				.three

			nav.main-menu 
				ul
					li.active
						a(href="index.html#about") О диагностике
					li
						a(href="index.html#result") Результат
					li
						a(href="index.html#qa") Вопрос ответ
					li
						a(href="index.html#smi") СМИ о нас
					li
						a(href="index.html#contactus") Контакты
				.contacts-menu
					a(href="mailto:info@bioelement.su") info@bioelement.su
					a(href="tel:+79998192969") +7 (999) 819-2969
					a.btn(data-popup-open='popup-1', href='#') Заказать конверт

